<!-- <div>VMT</div>
<video #User1></video> -->


<div class="videContainer">
<video id="videoStreamNodePeer1" playsinline #videoStreamNodePeer1 class="videUser"></video>
<video id="videoStreamNodePeer2" playsinline #videoStreamNodePeer2 class="videUser"></video>
</div>

<!-- <button class="button" (click)="initConnection()">start</button>

<div class="">
<button ngxWebrtcToggleAudioSelf class="button toggle-audio">
  <span class="on-enabled">Mute Audio</span>
  <span class="on-disabled">Unmute Audio</span>
</button>

<button ngxWebrtcToggleVideoSelf class="buttonvideo toggle-video">
  <span class="on-enabled">Mute Video</span>
  <span class="on-disabled">Unmute Video</span>
</button>
<button ngxWebrtcShareScreen class="buttonscreen">
  <span class="on-enabled">Stop Share Screen</span>
  <span class="on-disabled">Share Screen</span>
</button>
</div>
<ul>
  <li *ngFor="let user of callService?.users$ | async">
    <span *ngIf="user.hasMic || user.hasCam">
      <button *ngIf="user.hasMic" [ngxWebrtcToggleAudioUser]="user">mute for all</button>
      <button *ngIf="user.hasCam" [ngxWebrtcToggleVideoUser]="user">disable video for all</button>
    </span>
  </li>
</ul> -->

<button (click)="Hitrequest()">click</button>